* {
	box-sizing: border-box;
}

body{
	width: 95%;
	height: 95%;
	font-size: 100%;
	background-color: C0C0C0;
}

.font{
    font-size: 3em;
    font-weight: bold;
    color: #1c7fa5;
}

.inp{
	font-size: 3em;
	font-weight: bold;
	margin: .3em;
}

.inpbutton{
	font-size: 3em;
    background-color: #1c7fa5;
	color: white;
	font-weight: bold;
	margin: .5em;
	padding: .5em;
	border: .2em;
	border-color: red;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
}


@media all and (max-width: 480px){ 
	body{
	width: 100%;
	height: 100%;
	font-size: 100%;
	background-color: #b1868b;
	color: #00ffff;

} /*   480/16    = 30*/
